header {
  width: 100%;
}

footer {
  width: 100%;
  border-top: 1px solid var(--bs-gray-600);
  padding: .5rem 0;
  margin-top: 4rem;
}

header, footer {
  nav {
    ul {
      padding-inline-start: 0;
      margin: 0;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.header {
  margin-bottom: 4rem;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    border-bottom: 1px solid var(--bs-gray-600);
    padding: 1rem 0;
  }

  &__breadcrumb {
    padding: .5rem 0;
    background-color: #e6e6e6;
  }
}

#logo {
  display: block;
  width: auto;
  background-color: var(--primary);
  padding: .5rem 1rem;
  color: var(--bs-body-color);
}